# MongoDB credentials pour l'application backend - accès invité
# UTILISATION : CREEZ UN FICHIER .env DANS LE RÉPERTOIRE backend/ COLLEZ-Y LE CONTENU DE CE FICHIER 

MONGO_USER=guest
MONGO_PASSWORD=FHq1H39VrIUngBO2
MONGO_DB=cluster0